*.class
*.idea
*.iml
*.ipr
*.iws
*.name
.apt_generated
.classpath
.factorypath
.idea
.nb-gradle/
.project
.settings
.springBeans
/*.iml
/*.ipr
/*.iws
/.classpath
/.idea
/.project
/.settings
/bin
/derby.log
/ibderby
/nb*
/release.properties
/src/docbkx
/target
/test.db.lck
/test.db.log
/test.db.properties
/test.db.script
/test.db.tmp
build/
dist/
nbbuild/
nbdist/
nbproject/private/
target/
velocity.log